body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #240046;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  padding: 10px;
  width: 600px;
  border-radius: 5px;
  border: 1px solid #5a189a;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 5pt 3pt #e0aaff;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #240046;
  border-radius: 0;
  border-bottom: 8px solid #7b2cbf;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #5a189a;
  opacity: 0.2;
}

.present {
  background-color: #c77dff;
}

.future {
  background-color: #5a189a;
}

.save-button {
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

.save-button:focus,
.save-button:active {
  outline: none;
  opacity: 1;
}

.save-button:hover {
  transition: 0.5 ease-in-out;
  cursor: pointer;
}

.save-button:hover img {
  transform: scale(1.2);
}
.save-button img {
  width: 45px;
}

footer {
  padding: 60px;
  margin-top: 20px;
  background-color: #240046;
}
@media screen and (max-width: 480px) {
  textarea {
    width: 200px;
  }
}
